# dev
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
NEXT_PUBLIC_BASE_NETWORK=sepolia
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_ETHEREUM_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ETHEREUM_RPC_URL=
NEXT_PUBLIC_BLOCK_ORE_ADDRESS_BASE_SEPOLIA=
NEXT_PUBLIC_ORE_NFT_ADDRESS_BASE_SEPOLIA=
NEXT_PUBLIC_USDC_ADDRESS_BASE_SEPOLIA=

# prod
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
NEXT_PUBLIC_BASE_NETWORK=mainnet
NEXT_PUBLIC_BASE_RPC_URL=https://rpc.base.org
NEXT_PUBLIC_ETHEREUM_RPC_URL=
NEXT_PUBLIC_BLOCK_ORE_ADDRESS_BASE=
NEXT_PUBLIC_ORE_NFT_ADDRESS_BASE=

